body,
h1,
h2,
h3,
p,
img,
ul {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #414141;
}

h1 {
  font-weight: 900;
  font-size: 36px;
}

h2 {
  font-size: 28px;
  color: #45793e;
  padding-bottom: 25px;
}

h3 {
  font-size: 28px;
  color: #d66464;
  text-transform: uppercase;
  padding-bottom: 30px;
  letter-spacing: 3px;
}

p {
  line-height: 1.5rem;
  padding-bottom: 15px;
  font-size: 16px;
}

img {
  max-width: 500px;
  padding-top: 15px;
}

ul {
  list-style-type: none;
  display: flex;
  margin-left: auto;
  padding-top: 20px;
}

li {
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #f5d1d1;
  transition: all 0.3s ease-in;
}

a:hover {
  color: #f0f0f0;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0;
}

.container--menu {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0;
}

.topo {
  background-color: #f5d1d1;
}

.menu {
  color: #d66464;
  background-color: #f0f0f0;
  padding: 10px 25px;
  font-weight: 600;
}

.menu:hover {
  color: #45793e;
}

.infancia {
  background-color: #f0f0f0;
}

.juventude {
  background-color: #f5d1d1;
}

.adulta {
  background-color: #f0f0f0;
}

.mulheres {
  background-color: #d66464;
}

.titulo-negativo {
  color: #f0f0f0;
}

.img-tabela {
  padding-bottom: 25px;
}
